<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QWallet Command</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io();
            const logContainer = document.getElementById('console-output');

            // Function to handle incoming log messages
            function handleLogMessage(msg) {
                const messageElement = document.createElement('div');
                messageElement.textContent = msg.value;
                logContainer.prepend(messageElement);
            }

            // Function to handle result of Qwallet call
            function handleResult(msg) {
                const result = JSON.parse(msg.value);
                const flag = msg.flag;
                $("#result-output").html(`Result: ${result.result} </br> Display: ${result.display} </br> Seedpage: ${result.seedpage}`);
            }

            // Send command to QWallet
            function callQwallet(command) {
                socket.emit('run', { command, flag: 'run' });
            }

            // Setup socket event listeners
            socket.on('log', handleLogMessage);
            socket.on('result', handleResult)

            // Setup button click handlers
            $("#send-command").click(() => {
                const command = $("#command-input").val();
                callQwallet(command);
            });

            $("#stop-command").click(() => {
                socket.emit('stop', { command: 'test message', flag: '' });
            });

            // Automatically start on page load
            socket.emit('start', { command: 'test message', falg: '' });
        });
    </script>
</head>

<body>
    <div id="container">
        <div id="input-form">
            <textarea id="command-input" placeholder="Enter qwallet command"></textarea>
            <button id="send-command">Send</button>
            <button id="stop-command">Stop</button>
        </div>
        <div id="result-output" class="scrollable-box"></div>
        <div id="console-output" class="scrollable-box"></div>
    </div>
</body>

</html>